<div class="grid_12">
  <h1>Edit <%= resource_name.to_s.humanize %></h1>
</div>

<div class="grid_8">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="f"><%= f.label :email %>
    <%= f.text_field :email %></div>

    <div class="f">
      <label>Picture</label>
      <%= image_tag current_user.gravatar, :class => 'micro avatar', :style => 'vertical-align: middle' %>
      <%= link_to "Go to gravatar.com to change your picture...", "http://en.gravatar.com/site/login?user=#{current_user.email}" %>
    </div>
    
    <div class="f">
      <%= f.label :password %> 
      <%= f.password_field :password %>
      <small>(leave blank if you don't want to change it)</small>
    </div>

    <div class="f"><%= f.label :password_confirmation, "Password confirm." %>
    <%= f.password_field :password_confirmation %></div>

    <div class="f">
      <%= f.label :current_password %>
      <%= f.password_field :current_password %>
      <small>(we need your current password to confirm your changes)</small>
    </div>

    <div class="f">
      <%= f.submit "Update" %>
      or <%= link_to "Back", :back %>
    </div>
  <% end %>
</div>

<div class="grid_3 prefix_1">
  <h3>
    Don't want to stay?
  </h3>
  
  <p>
    <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.
  </p>
</div>