<div class="grid_7">
  
  <%= form_for Activity.new, :html => {:class => 'new_activity status'} do |f| %>
    <h4>What are you doing now?</h4>
    <%= f.hidden_field :verb, :value => 'status' %>
    <%= f.text_area :content %>
    <%= f.submit 'Share' %>
  <% end %>

  <%= render :partial => "activities/list", :locals => {:activities => @activities} %>
</div>

<div class="grid_3 prefix_1">
  
</div>

<div class="grid_4 sidebar">
  
  <!--
  <div class="connect">
    <%= check_box_tag "connect" %> Connect with your gmail contacts<br />
    <small>
      This will load your contacts using javascript, so that you can add your friends
      using the autocomplete. No information is sent to the
      <span class="notdiaspora">notdiaspora*</span> server.
    </small>
  </div>
  -->
  
  <div class="intro">
    <h4>
      <%= image_tag 'icons/net_comp.png', :class => 'icon' %> You are using a distributed social network
    </h4>
    
    <p>
       This site is based on <a href="http://onesocialweb.org/spec/1.0/osw-activities.html">Activitystreams</a>
       and interoperates with other sites using the same protocol. Your friends can add you at this address:
    </p>
    
    <p>
      &nbsp; &nbsp; <b><%= current_user.jid %></b>
    </p>
  </div>
  
  <% if @friend_requests.any? %>
  <h4>
    <%= image_tag 'icons/mail.png', :class => 'icon' %>
    Friendship Requests
  </h4>
  
  <ul class="friends requests">
    <% @friend_requests.each do |relationship| %>
      <li>
        <%= image_tag relationship.user.gravatar, :class => 'micro avatar' %>
        <b><%= relationship.user.jid %></b>
        <span>
          <%= link_to 'Accept', accept_relationship_url(relationship) %> &nbsp; | &nbsp; 
          <%= link_to 'Reject', relationship, :method => 'delete' %>
        </span>
      </li>
    <% end %>
  </ul>
  
  <% end %>
  
  <h4>
    <%= image_tag 'icons/user.png', :class => 'icon' %> Friends
  </h4>
  
  <%= form_for User.new, :as => :friend, :url => friend_users_url do |f| %>
    <%= f.text_field :email, :placeholder => "Enter an email address here..." %>
    <%= submit_tag 'Invite' %>
  <% end %>
  
  <ul class="friends">
  <% @relationships.each do |r| %>
    <li>
      <%= image_tag r.friend.gravatar, :class => 'micro avatar' %>
      <b><%= r.friend.name %></b>
      <% if r.accepted? %>
        <%= truncate r.friend.status %>
      <% else %> 
         is yet to accept your request.
      <% end %>
    </li>
  <% end %>
  </ul>
</div>