<div class="grid_7">
  
  <%= form_for Activity.new, :html => {:class => 'new_activity status'} do |f| %>
    <h4>What are you doing now?</h4>
    <%= f.hidden_field :verb, :value => 'status' %>
    <%= f.text_area :content %>
    <%= f.submit 'Share' %>
  <% end %>

  <%= render :partial => "activities/list", :locals => {:activities => @activities} %>
</div>

<div class="grid_3 prefix_1">
  
</div>

<div class="grid_4 sidebar">
  
  <!--
  <div class="connect">
    <%= check_box_tag "connect" %> Connect with your gmail contacts<br />
    <small>
      This will load your contacts using javascript, so that you can add your friends
      using the autocomplete. No information is sent to the
      <span class="notdiaspora">notdiaspora*</span> server.
    </small>
  </div>
  -->
  
  <div class="intro">
    <h4>
      <%= image_tag 'icons/net_comp.png', :class => 'icon' %> You are using a distributed social network
    </h4>
    
    <p>
       This site is based on <a href="http://onesocialweb.org/spec/1.0/osw-activities.html">Activitystreams</a>
       and interoperates with other sites using the same protocol. 
         You can connect to diaspora*x using <b>ichat</b>, <b>miranda</b> or any other <a href="http://www.google.com/talk/otherclients.html">jabber client</b> by using this address and the password you sign in with:
       </p>

    <p>
      &nbsp; &nbsp; <b><%= current_user.jid %></b>
    </p>
    
  </div>
  
  <% if @friend_requests.any? %>
    <h4>
      <%= image_tag 'icons/mail.png', :class => 'icon' %>
      Friendship Requests
    </h4>
  
    <%= render :partial => 'relationships/friend_requests', :locals => {:friend_requests => @friend_requests} %>
  <% end %>
  
  <h4>
    <%= image_tag 'icons/user.png', :class => 'icon' %> Friends
  </h4>
  
  <%= form_for User.new, :as => :friend, :url => relationships_url do |f| %>
    <%= f.text_field :email, :placeholder => "Enter an email address here...", :style => 'width: 220px; margin-right: 10px' %>
    <%= submit_tag 'Invite' %>
  <% end %>
  
  <%= render :partial => 'relationships/list', :locals => {:relationships => @relationships} %>
</div>