<h2>Set your password</h2>

<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :invitation_token %>

  <div class="f">
    <%= f.label :username %>
    <%= f.text_field :username, :style => 'width: 120px' %> @ <%= Diaspora::Application.config.server_name %>
  </div>

  <div class="f">
    <%= f.label :email %>
    <%= User.find_by_invitation_token(f.object.invitation_token).email %> <!-- fixme -->
  </div>

  <div class="f">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="f">
    <%= f.label :password_confirmation, 'Confirm password' %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="f">
    <%= f.submit "Set my password" %>
  </div>
<% end %>
